@use '../../assets/styles/helpers/mixins' as *;

.section {
	padding: var(--section-padding);

	h2,
	h3 {
		font-weight: var(--font-weight-700);
	}

	h2 {
		margin-block: 1em;
		font-size: var(--font-size-h2);
		color: var(--clr-primary-300);
	}

	h3 {
		margin-bottom: 1em;
		font-size: var(--font-size-h3);
		@include extra-large-screen {
			margin-bottom: 0.25em;
		}
	}
}

.section1 {
	grid-area: section1;
	padding: 0 var(--section-padding) var(--section-padding);
	margin-bottom: 1em;
	color: var(--clr-secondary-400);
	@include extra-large-screen {
		margin-bottom: 0;
	}
}

.section2 {
	grid-area: section2;
	background-color: var(--clr-primary-400);
	display: grid;

	.cost {
		display: inline-flex;
		place-items: center;
		gap: 1em;
		color: var(--clr-primary-300);
		.price {
			font-size: 3rem;
			font-weight: var(--font-weight-700);
			color: var(--clr-secondary-100);
		}
	}

	.form {
		margin: 1.5em 0 0.25em;
		@include extra-large-screen {
			margin: auto 0 0;
		}

		button {
			width: 100%;
			padding: 0.75em 0;
			background-color: var(--clr-primary-300);
			border: 0;
			border-radius: var(--border-radius);
			font-weight: var(--font-weight-700);
			color: inherit;
			box-shadow: var(--shadow-button);
			cursor: pointer;
		}
	}
}

.section3 {
	grid-area: section3;
	background-color: var(--clr-primary-350);

	ul {
		font-size: 1.4rem;
		color: var(--clr-secondary-300);
	}
}
